/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* application.html.erb */

body {
  width: 800px;
}

p {
  margin: 0;
}

nav {
  padding-bottom: 16px;
}

.sign_in_user_container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 16px;
}

hr {
  height: 1px;
  border: none;
  border-top: 3px #98b8f9 dotted;
}

.user_image {
  padding-right: 4px;
}

.user_image > a {
  background-color: #FFF;
}

.user_image > a:hover {
  opacity: 0.5;
}

.edit_profile {
  padding-left: 12px;
}

/* devise */

.checkbox {
  display: flex;
}

/* index.html.erb */

.headding-container {
  display: flex;
  align-items: baseline;
}

.headding-container h1 {
  padding-bottom: 10px;
  padding-right: 30px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 6px 12px;
}

th {
  border-bottom: 1px solid #808080;
}

.index-icon {
  color: gray;
}

.page {
  padding: 20px 0 10px;
}

/* show.html.erb */

.details {
  padding: 6px 0;
}

.comment-body {
  padding: 6px 0;
}

.book-image-detail {
  display: flex;
}

/* edit.html.erb */

input[type=submit] {
  padding: 5px 12px; 
  background: #b8c9eb;
  border: 0 none;
  border-radius: 5px; 
  cursor: pointer;
}

/* comments/_form.html.erb */

.book-image {
  padding: 0 10px ;
}

.comment {
  padding-top: 12px;
}

/* follow.html.erb */

.follow_button > input {
  background: #bff0d5;
}

/* unfollow.html.erb */

.unfollow_button > input {
  background: #fc8985;
}
